<!-- jahia:temp value="URLParserStarte960a213" --><!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>home</title>
</head>
<body>
<jahia:resource type="javascript" path="%2Fmodules%2Fjquery%2Fjavascript%2Fjquery.min.js" insert="false" resource="jquery.min.js" title="" key="" />
<jahia:resource type="javascript" path="%2Fmodules%2Fassets%2Fjavascript%2Fjquery.jahia.js" insert="false" resource="jquery.min.js" title="" key="" />
<jahia:resource type="javascript" path="%2Fmodules%2Fassets%2Fjavascript%2Fjquery-ui.min.js" insert="false" resource="jquery-ui.min.js" title="" key="" />
<jahia:resource type="javascript" path="%2Fmodules%2Ftemplates-portal%2Fjavascript%2Fangular.min.js" insert="false" resource="angular.min.js" title="" key="" />
<jahia:resource type="javascript" path="%2Fmodules%2Fbootstrap%2Fjavascript%2Fbootstrap-modal.js" insert="false" resource="bootstrap-modal.js" title="" key="" />
<jahia:resource type="javascript" path="%2Fmodules%2Fbootstrap%2Fjavascript%2Fbootstrap-tooltip.js" insert="false" resource="bootstrap-tooltip.js" title="" key="" />
<jahia:resource type="css" path="/files/live/sites/mySite/files/bootstrap/css/bootstrap.css" insert="true" resource="bootstrap.css" title="" key="" />
<jahia:resource type="css" path="%2Fmodules%2Ftemplates-portal%2Fcss%2Fportal-demo.css" insert="false" resource="portal-demo.css" title="" key="" />
<!-- jahia:temp value="URLParserStart69c73d56" --><!-- jahia:temp value="URLParserStart2a41c02f" --><jahia:resource type="javascript" path="%2Fmodules%2Ftemplates-portal%2Fjavascript%2Fapp%2FportalToolbar.js" insert="false" resource="app/portalToolbar.js" title="" key="" />
<jahia:resource type="css" path="%2Fmodules%2Ftemplates-portal%2Fcss%2Fportal-toolbar.css" insert="false" resource="portal-toolbar.css" title="" key="" />


<div id="portal_toolbar" class="portal_toolbar" ng-app="portalToolbar">
    <div ng-controller="navCtrl">
        <ul class="nav nav-tabs" ng-init="loadTabs()">
            <li ng-class="isCurrentTab(tab.url) ? 'active' : ''" ng-repeat="tab in tabs">
                <a href="{{tab.url}}">{{tab.name}}</a>
            </li>


            <li><a href="#newTabModal" data-toggle="modal"><i class="icon-folder-open"></i></a></li>
            <li class="right" ng-show="canBeDeleted"><a href="#" ng-click="deleteTab()"><i class="icon-remove"></i></a></li>
            <li class="right"><a href="#editTabModal" data-toggle="modal"><i class="icon-wrench"></i></a></li>
            <li class="right"><a href="#widgetsModal" data-toggle="modal"><i class="icon-plus"></i></a></li>

        </ul>
    </div>


    <script type="text/ng-template" id="tabFormTemplate">
        <form>
            <div class="row-fluid">
                name: <input type="text" ng-model="form.name" required>
            </div>
            <div class="row-fluid">
                template:
                <select ng-model='form.template.key' required ng-options='option.key as option.name for option in form.allowedTemplates'></select>
            </div>
            <div class="row-fluid">
                widgets skin:
                <select ng-model='form.widgetsSkin.key' required ng-options='option.key as option.name for option in form.allowedWidgetsSkins'></select>
            </div>
        </form>
    </script>

    <div id="widgetsModal" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="widgetModalLabel" ng-controller="widgetsCtrl"
         ng-init="init('widgetsModal')">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">×</button>
            <h3 id="widgetModalLabel">Add new widget</h3>
        </div>
        <div class="modal-body">
            <div>
                <label for="widget_desiredName">Name:</label>
                <input id="widget_desiredName" ng-model="desiredName" type="text">

                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="widget in widgets" ng-class="widget.name == desiredWidget ? 'active' : ''">
                        <a ng-click="selectWidget(widget.name)" href="#">{{widget.displayableName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" ng-click="cancel()">Close</button>
            <button class="btn btn-primary" ng-click="addWidget()">Add</button>
        </div>
    </div>

    <div id="editTabModal" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="editTabModalLabel" ng-controller="tabCtrl" ng-init="init('edit', 'editTabModal')">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">×</button>
            <h3 id="editTabModalLabel">Edit tab {{form.name}}</h3>
        </div>
        <div class="modal-body">
            <div>
                <div ng-include src="'tabFormTemplate'">

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" ng-click="cancel()">Close</button>
            <button class="btn btn-primary" ng-click="submit(false)">Save</button>
        </div>
    </div>

    <div id="newTabModal" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="newTabModalLabel" ng-controller="tabCtrl" ng-init="init('new', 'newTabModal')">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">×</button>
            <h3 id="newTabModalLabel">Add new tab</h3>
        </div>
        <div class="modal-body">
            <div>
                <div ng-include src="'tabFormTemplate'">

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" ng-click="cancel()">Close</button>
            <button class="btn btn-primary" ng-click="submit(true)">Add</button>
        </div>
    </div>

</div><!-- jahia:temp value="URLParserEnd2a41c02f" --><!-- jahia:temp value="URLParserStartc56a5fad" --><!-- jahia:temp value="URLParserStart246092e1" --><!-- jahia:temp value="URLParserStarta4938466" --><jahia:resource type="css" path="/files/live/sites/mySite/files/bootstrap/css/bootstrap.css" insert="true" resource="bootstrap.css" title="" key="" />


<section class="" id="bootstrap-layer-container-rows-a">
    <div class="container-fluid">


        <div class="row-fluid">

            <div class="span12"><!-- jahia:temp value="URLParserStart239fb61c" --><!-- jahia:temp value="URLParserStart0867b9fc" --><jahia:resource type="inlinejavascript" path="%0A++++%3Cscript%3E%0A++++++++console.log%28%22test+tetestete+tet+e+te+te%22%29%3B%0A++++%3C%2Fscript%3E%0A" insert="false" resource="" title="" key="portalInit" />


                <div id="portal_area_15fbdbc9-ca60-455b-b03f-907e80a07dfe" class="portal_area">

                </div>

                <script type="text/javascript">
                    var portal = window.portal;
                    portal.registerArea("/cms/render/live/fr",
                            "/sites/mySite/portals/portal-default",
                            "/sites/mySite/portals/portal-default/home",
                            "portal_area_15fbdbc9-ca60-455b-b03f-907e80a07dfe",
                            true,
                            true);
                </script><!-- jahia:temp value="URLParserEnd0867b9fc" --><div class="clear"></div><!-- jahia:temp value="URLParserEnd239fb61c" --></div>

        </div>

    </div>
</section><!-- jahia:temp value="URLParserEnda4938466" --><div class="clear"></div><!-- jahia:temp value="URLParserEnd246092e1" --><!-- jahia:temp value="URLParserEndc56a5fad" --><div class="clear"></div><!-- jahia:temp value="URLParserEnd69c73d56" -->

</body>
</html><!-- jahia:temp value="URLParserEnde960a213" -->
